@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: local('GermaniaOneRegular'), url(@/assets/fonts/GermaniaOneRegular.ttf) format('truetype');
  font-family: "GermaniaOne";
}

@font-face {
  src: local('FamiljenGroteskRegular'), url(@/assets/fonts/FamiljenGroteskRegular.ttf) format('trutype');
  font-family: "FamiljenGrotesk";
}

@font-face {
  src: local('AntonRegular'), url(@/assets/fonts/AntonRegular.ttf) format('truetype');
  font-family: "Anton";
}

@font-face {
  src: local('StaatlichesRegular'), url(@/assets/fonts/StaatlichesRegular.ttf) format('truetype');
  font-family: "Staatliches"; 
}

@font-face {
  src: local('AlataRegular'), url(@/assets/fonts/AlataRegular.ttf) format('truetype');
  font-family: "Alata"; 
}

@font-face {
  src: local('HighwayGothicRegular'), url(@/assets/fonts/HighwayGothicRegular.ttf) format('truetype');
  font-family: 'HighwayGothic';
}

.font-germania-one { font-family: 'GermaniaOne' !important; }
.font-familjen-grotesk { font-family: 'FamiljenGrotesk' !important; }
.font-highway-gothic { font-family: 'HighwayGothic'; }
.font-alata { font-family: "Alata"; }
.font-anton { font-family: "Anton"; }
.font-staatliches { font-family: "Staatliches"; }
